.page {
  min-height: 1280px;
  max-width: 1440px;
  background-image: url("../../images/backgroundimage.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: inherit;
  margin: 0 auto;
}

.no-bg {
  background-image: none;
}
@media screen and (max-width: 917px) {
  .page {
    min-height: 768px;
  }
}
